<h1>Complete user information</h1>

<div class="white_background">

  <%= form_tag( :controller => :sso_user, :action => "update", :method => :post ) do %>

    <div class="dmp_details">

      <table class="dmp_details_table">
        <tr>
          <td class="first"><%= t('helpers.email') + ' *' %></td>
          <td><%= text_field_tag 'user[email]' , @sso_user["email"],
              :as => :string,
              :autocomplete => "off" ,
              :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'data-html' => "true",
              :disabled => :disabled
             %>
          </td>
        </tr>
        <tr>
          <td class="first"><%= t('helpers.first_name') + ' *' %></td>
          <td>
            <%= text_field_tag 'user[firstname]', @sso_user["firstname"],
              :id => "first_time_login_firstname",
              :autofocus => true,
              :class => 'text_field has-tooltip',
              'data-toggle' => "tooltip",
              'data-trigger' => "focus" ,
              'title' => t('helpers.first_name_help_text')
            %>
          </td>
        </tr>
        <tr>
          <td class="first"><%= t('helpers.last_name') + ' *' %></td>
          <td>
            <%= text_field_tag 'user[surname]', @sso_user["surname"],
              :as => :string, :id => "first_time_login_surname",
              :class => 'text_field has-tooltip',
              'data-toggle' => "tooltip",
              'data-trigger' => "focus" ,
              'title' => t('helpers.surname_help_text')
            %>
          </td>
        </tr>
        <tr>
          <td class="first"><%= t('helpers.org_type.organisation') + ' *' %></td>
          <td><%
                org = @sso_user["organisation_id"].present? ? Organisation.find( @sso_user["organisation_id"] ) : nil

                if org
              %>
                <%= text_field_tag 'user[organisation]' , org.name,
                    :as => :string,
                    :autocomplete => "off" ,
                    :class => 'text_field has-tooltip', 'data-toggle' => "tooltip", 'data-html' => "true", 'title' => org.name,
                    :disabled => :disabled
                %>
              <% else %>
                -
              <% end %>
          </td>
        </tr>

        <tr>
          <td class="first"></td>
          <td>
            <%= submit_tag t('helpers.sign_up'), :class => "btn btn-primary" %>
          </td>
        </tr>

      </table>

    </div>

  <% end %>

</div>
