<h2>Before we can confirm your account, we need the following information</h2>

<div class="white_background">

  <%= form_tag({ :controller => :confirmations, :action => :update },{ :method => :put }) do %>
    <%= hidden_field_tag "confirmation_token", params[:confirmation_token] %>
    <div class="dmp_details">
      <table class="dmp_details_table">
        <tr>
          <td class="first"><%= t('helpers.firstname') + ' *' %></td>
          <td><%= text_field_tag "firstname", @user.firstname == User.nemo ? '' : @user.firstname %></td>
        </tr>
        <tr>
          <td class="first"><%= t('helpers.surname') + ' *' %></td>
          <td><%= text_field_tag "surname", @user.surname == User.nemo ? '' : @user.surname %></td>
        </tr>
        <% if @user.orcid_id.present? %>
        <tr>
          <td class="first">ORCID</td>
          <td><%= @user.orcid_link %></td>
        </tr>
        <% end %>
        <tr>
          <td class="first"></td>
          <td>
            <% if @user.orcid_id.present? %>

              <%= submit_tag t('helpers.sign_in'), :class => "btn btn-primary" %>

            <% else %>

              <button type="submit" class="orcid-btn">
                <img src="<%= User.orcid_logo %>"> Update and link to ORCID
              </button>

            <% end %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
  <% if @user.orcid_id.blank? %>
    After this, the browser will redirect you to the ORCID website in order to link your ORCID identifier.
  <% end %>

</div>

<!--logout user out of orcid : START-->
<%
  orcid_logout_url = Devise.omniauth_configs[:orcid].strategy.sandbox ? "https://sandbox.orcid.org" : "https://orcid.org"
  orcid_logout_url += "/userStatus.json?logUserOut=true&callback=after_logout_orcid"
%>
<script type="text/javascript">
function after_logout_orcid(res){
  console.log(res);
}
</script>
<script type="text/javascript" src="<%= orcid_logout_url %>"></script>
<!--logout user out of orcid : END-->

<%= render "devise/shared/links" %>
