<%= stylesheet_link_tag "admin" %>

<h1>
	<%= t('org_admin.users_list') %>
</h1>

<%= raw t('org_admin.user_text_html')%>
<% @users = current_user.organisation.users.all %>
<table id="dmp_table" class="dmp_table tablesorter">
  <thead>
    <tr>
      <th class="dmp_th_big"><%= t('org_admin.user_full_name') %></th>
      <th class="dmp_th_medium"><%= t('org_admin.user_name') %></th>
      <th class="dmp_th_small"><%= t('org_admin.last_logged_in') %></th>
      <th class="dmp_th_small"><%= t('org_admin.how_many_plans') %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td class="dmp_td_big">
            <% if !user.name.nil? then%>
              <%= user.name %>
            <%end%>
          </td>
          <td class="dmp_td_medium">
            <%= user.email %>
          </td>
          <td class="dmp_td_small">
            <% if !user.last_sign_in_at.nil? then%>
            <%= l user.last_sign_in_at.to_date, :formats => :short %>
        <%end%>
          </td>
          <td class="dmp_td_small">
            <% if !user.project_groups.nil? then%>
            <%= user.project_groups.count %>
            <%end%>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
