<p>Hello <%= @project_group.user.name %></p>

<%
access_level = "read-only"
if @project_group.access_level == 2 then
	access_level = "editor"
elsif @project_group.access_level == 3 then
	access_level = "co-owner"
end
%>

<p>Your permissions relating to the DMP "<%= link_to @project_group.project.title, project_path(@project_group.project, :only_path => false) %>" have changed. You now have <%= access_level %> access.</p>

<% if !(@project_group.user.confirmed?) %>

  <p>An email will follow, containing instructions to unlock your new account.</p>

<% elsif @project_group.user.organisation.wayfless_entity.present? %>

  <%= link_to(
        "Sign in with #{@project_group.user.organisation.abbreviation}",
        set_url_query( user_omniauth_shibboleth_path, { :idp => @project_group.user.organisation.wayfless_entity } )
      )
  %>

<% else %>

  <%= link_to "Sign in with ORCID", user_omniauth_authorize_url(:orcid) %>

<% end %>
