<p>Hello <%= @project_group.user.name(true) %></p>

<p>You have been given access level "<%= @project_group.t_access_level %>" to the DMP "<%= link_to @project_group.project.title, project_path(@project_group.project, :only_path => false) %>".</p>

<% if !(@project_group.user.confirmed?) %>

  <p>
    <%= link_to 'Sign in', confirmation_url( @project_group.user, :confirmation_token => @project_group.user.confirmation_token) %>
  </p>

<% elsif @project_group.user.organisation.wayfless_entity.present? %>

  <%
    uri = URI(user_omniauth_shibboleth_url)
    form = URI.decode_www_form(uri.query || '') + [ [:idp, @project_group.user.organisation.wayfless_entity] ]
    uri.query = URI.encode_www_form(form)
    u = uri.to_s
  %>
  <%= link_to( "Sign in with #{@project_group.user.organisation.abbreviation}", u ) %> ( <%= u %> )

<% else %>

  <% u = user_omniauth_authorize_url(:orcid) %>
  <%= link_to( "Sign in with ORCID", u ) %> ( <%= u %> )

<% end %>
