<h1>Switch to another user that has the same ORCID</h1>

<div class="white_background">

  <%= form_tag( :controller => :switch_user, :action => "update", :method => :post ) do %>
    <div class="dmp_details">
      <table class="dmp_details_table">
        <tr>
          <td class="first"><%= t('helpers.email') + ' *' %></td>
          <td>
          <% @users.each_with_index do |user,i| %>

            <label class="radio">
              <%= radio_button_tag(
                    "user[id]",
                    user.id,
                    i == 0
                )
              %>
              <%= user.email + " (" + user.projects.count.to_s + " projects)" %>
            </label>

          <% end %>
          </td>
        </tr>
        <tr>
          <td class="first"></td>
          <td>
            <%= submit_tag t('helpers.sign_in'), :class => "btn btn-primary" %>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
