<tr>
  <% @selected_columns.each do |column| %>
    <%= project_list_body(column, project) %>
  <% end %>
  <td class="dmp_td_medium">

    <% if can? :show, project %>
      <%= link_to( t(".view", { :default => t("helpers.view") }), project_path(project), { :class => "dmp_table_link" } ) %>
    <% end %>

    <% if can? :edit, project %>
      <%= link_to( t('.edit', { :default => t("helpers.links.edit") } ), project_path(project, { :show_form => "yes" } ), { :class => "dmp_table_link" } ) %>
    <% end %>

    <% if can? :share, project %>
      <%= link_to( t("helpers.project.share.tab_share"), project_path([project, "share"]), { :class => "dmp_table_link" } ) %>
    <% end %>

    <% if can? :export, project %>
      <%= link_to( t("helpers.project.tab_export"), project_path([project, "export"]), { :class => "dmp_table_link" } ) %>
    <% end %>

    <% if can? :destroy, project %>
      <%= link_to(
            t('.destroy', :default => t("helpers.links.destroy")),
            project_path(project),
            :class => "dmp_table_link",
            :method => :delete,
            :data => { :confirm => t("helpers.project.confirm_delete_text") }
          )
      %>
    <% end %>
  </td>
</tr>
