<%- model_class = Project -%>
<% javascript 'toolbar.js' %>
<h1>
	<%= t('helpers.project.projects_title', :email => current_user.email) %>
</h1>

<!-- if the user has projects -->
<% if @projects.any? %>

	<p>
		<%= raw t('helpers.project.project_text_when_project')%>
	</p>
    
	<%= render(partial: 'toolbar') %>
	<table id="dmp_table" class="dmp_table tablesorter">
	  <thead>
	    <%= render(partial: "project_list_head") %>
	  </thead>
	  <tbody>
      <%= render(
            :partial => "project_list_item",
            :collection => @projects,
            :as => :project
          )
      %>
	  </tbody>
	</table>
	<% if current_user.dmponline3 then %>
		<p>You can view or edit earlier plans by visiting <%= link_to("the previous version of DMPonline", "http://dmponline3.dcc.ac.uk") %>.</p>
	<% end %>
<!-- if the user does not have projects -->
<% elsif can? :create, Project %>
	<p>
		<%= raw t("helpers.project.project_text_when_no_project")%>
	</p>

<% end %>

<% if can? :create, Project %>
  <!-- link button to create a new project -->
  <p>
    <%= link_to t('.new', :default => t("helpers.project.create")),
              new_project_path,
              :class => 'btn btn-primary' %>
  </p>
<% end %>
