<!--add comment to question. question id is passed as an argument and plan id-->

<%= form_for :new_comment, :url => {:controller => :comments, :action => :create } , :html=>{:method=>:post, :id => "new_comment_form_#{question.id}", :class => "add_comment_form"} do |f| %>
  <%= f.hidden_field :question_id, :value => question.id %>
  <%= f.hidden_field :plan_id, :value => @plan.id %>
  <%= f.text_area :text, :required => true, :class => "comment", :rows => 8 %>
	<br/>
	<!-- submit buttons -->
	<div class="move_2_right">
		<%= f.submit t("helpers.submit.save"), :class => "btn btn-primary new_comment_submit_button" %>
	</div>
  </br>
<%end%>
