<%= form_for :comment,
  :url => { :controller => :comments, :action => :create },
  :html=> {
    :method=> :post,
    :id => "new_comment_form_#{question.id}",
    :class => "add_comment_form",
    :'data-list-id' => "list-comments-" + question.id.to_s,
    :'data-list-label-id' => "list-comments-label-" + question.id.to_s
  } do |f| %>
  <%= f.hidden_field :question_id, :value => question.id %>
  <%= f.hidden_field :plan_id, :value => @plan.id %>
  <%= f.text_area :text, :required => true, :class => "comment", :rows => 8 %>
  <%= f.submit t("helpers.submit.save"), :class => "btn btn-primary" %>
<% end %>

<div class="list-comments" id="list-comments-<%= question.id %>">
  <% comments.each do |comment| %>

    <blockquote data-comment-id="<%= comment.id %>">

      <% if !comment.archived && can?(:archive,comment) %>
        <button type="button" class="close" data-comment-id="<%= comment.id %>">&times;</button>
      <% end %>

      <% if comment.archived %>

        <% if comment.archived_by == current_user.id then%>

          <del><%= t("helpers.comments.retracted")%></del>

        <% else %>

          <del><%= t("helpers.comments.clear_by")%> <%= comment.archiver_name %></del>

        <% end %>

      <% else %>

        <%= comment.text %>

      <% end %>

      <small>posted by <%= comment.user.name %> at <%= comment.created_at.getlocal.strftime("%d/%m/%Y %H:%M") %></small>

    </blockquote>

  <% end %>
</div>
